.figure {
  background-size: cover;
}

.figure.cs-department {
  background-image: url(../assets/computer-science-1.jpg);
}

.figure.is-department {
  background-image: url(../assets/information-systems.jpg);
}

.figure.it-department {
  background-image: url(../assets/information-technology.jpg);
}

#dept .layer {
  border-radius: 0.75rem
}

#dept .container {
  
  @media (min-width: 768px) {
    margin-bottom: -5rem;
  }

  @media (min-width: 992px) {
    margin-bottom: -10rem;
  }
}

#staff .container {
  @media (min-width: 768px) {
    margin-top: 6rem;
  }

  @media (min-width: 992px) {
    margin-top: 8rem;
  }
}