@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

* {
  font-family: "Cairo", sans-serif;
}

.academic-excellence>div>div {
  position: relative;
  padding: 1rem;
  padding-right: 1rem;

  &::before {
    display: none
  }

  ;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background-color: #d3d3d3;
  }
}