@import "tailwindcss";

/* global */

@font-face {
  font-family: "NimbusSans";
  src: url(assets/fonts/NimbusSanL-Reg.otf);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "NimbusSans", sans-serif;
  font-weight: lighter;
}

*::selection {
  background-color: #120ce8;
  color: white;
}

footer *::selcetion {
  background-color: white;
  color: #120ce8;
}

body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin: 0;
}

body>section {
  scroll-snap-align: start;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, black 0%, transparent 50%);
  z-index: -10;
}

li,
a {
  cursor: pointer;
}

button {
  background-color: #120ce8;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: x-small;
  font-weight: lighter;
  cursor: pointer;
}

.container {
  max-width: 95%;
  padding: 0 32px;
  margin: 0 auto;
}

section h3:first-of-type {
  font-size: clamp(2rem, 5vw, 3rem);
}



/* hero section */

#hero {
  background-image: url(assets/college.jpg);
  background-position: 30% 10%;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 50px) !important;
  margin-top: 3px;

  @media (min-width: 1024px) {
    background-position: left bottom;
  }
}

#hero h2 {
  font-size: clamp(1.5rem, 8vw, 4rem);
  color: white;
  text-shadow: 0px 0px 10px black;
}

/* about section */

.academic-excellence>div>div {
  position: relative;
  padding: 1rem;
  padding-left: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #d3d3d3;
  }
}

.academic-excellence i {
  position: relative;
  color: white;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #120ce8;
  }
}

.academic-excellence svg {
  border-radius: 20%;
  margin-bottom: 0.75rem;
}

.academic-excellence h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #120ce8;
  margin: 0.25rem 0;
}

.academic-excellence h6 {
  font-size: 0.9rem;
  font-weight: bold;
}

/* departments section */

.department .figure {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -20;
  overflow: hidden;
}

.department .figure.computer-science {
  background-image: url(assets/computer-science-1.jpg);
}

.department .figure.information-systems {
  background-image: url(assets/information-systems.jpg);
}

.department .figure.information-technology {
  background-image: url(assets/information-technology.jpg);
  background-position: left;
}

@media (max-width: 1024px) {
  .department .figure {
    background-attachment: initial;
  }
}

.department {
  min-width: 300px;
  transition: flex-grow 0.7s ease;
}

.department:hover {
  flex-grow: 17;
}

.department .statistics {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  & span:first-child {
    color: #85858a;
    font-size: 0.8rem;
  }

  & span:last-child {
    font-size: 1.4rem;
  }
}

/* contact section */

.form__group>* {
  display: block;
}

.form__group>input,
textarea {
  width: 100%;
  padding: 0.25rem;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #d3d3d3;
  resize: none;
}

/* footer */

footer .links li {
  padding-bottom: 0.5rem;

  &:hover {
    color: white;
    transition: all 0.2s ease;
  }
}